<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>KodBook Sign Up</title>
</head>
<body>
<h1>KodBook</h1>
<h3>Create New Account</h3>
<form action="/SignUp" method="post">
<label>USERNAME : </label>
<input type="text" name="username">
<br><br>
<label>EMAIL : </label>
<input type="email" name="email">
<br><br>
<label>PASSWORD : </label>
<input type="password" name="password">
<br><br>
<label>DOB : </label>
<input type="date" name="dob">
<br><br>
<label>GENDER : </label>
<label>Male</label>
<input type="radio" name="gender" value="Male">
<label>Female</label>
<input type="radio" name="gender" value="Female">
<label>Trans</label>
<input type="radio" name="gender" value="Trans">

<br><br>
<input type="submit" value="SIGN UP">
<hr>

<a href="/">Already have account? Login instead </a>
</form>
</body>
</html>